/node_modules
/public/hot
/public/build
/public/storage
/public/css
/public/js
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.testing
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.nova
/.vscode
phpunit.xml
.phpunit.result.cache
