@font-face{
    font-family: 'Fira Sans';
    src: local(system-ui),
    local(-apple-system),
    local('Segoe UI'),
    local(Roboto),
    local(Helvetica),
    local(Arial),
    local(sans-serif),
    local('Apple Color Emoji'),
    local('Segoe UI Emoji)');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local(system-ui),
    local(-apple-system),
    local('Segoe UI'),
    local(Roboto),
    local(Helvetica),
    local(Arial),
    local(sans-serif),
    local('Apple Color Emoji'),
    local('Segoe UI Emoji)');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local(system-ui),
    local(-apple-system),
    local('Segoe UI'),
    local(Roboto),
    local(Helvetica),
    local(Arial),
    local(sans-serif),
    local('Apple Color Emoji'),
    local('Segoe UI Emoji)');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local(system-ui),
    local(-apple-system),
    local('Segoe UI'),
    local(Roboto),
    local(Helvetica),
    local(Arial),
    local(sans-serif),
    local('Apple Color Emoji'),
    local('Segoe UI Emoji)');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    src: local(system-ui),
    local(-apple-system),
    local('Segoe UI'),
    local(Roboto),
    local(Helvetica),
    local(Arial),
    local(sans-serif),
    local('Apple Color Emoji'),
    local('Segoe UI Emoji)');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local(system-ui),
    local(-apple-system),
    local('Segoe UI'),
    local(Roboto),
    local(Helvetica),
    local(Arial),
    local(sans-serif),
    local('Apple Color Emoji'),
    local('Segoe UI Emoji)');
    font-weight: 700;
    font-style: normal;
}
